<!-- Macro to display a row with the user information in the admin module -->
{% macro render_user(user) %}
  <tr>
    <th scope="row">{{ user.username }}</th>

    <td>{{ user.first_name }}</td>

    <td>{{ user.last_name }}</td>

    <td>{{ user.birth_date }}</td>

    <td>
        {% if user.rol == 'Administrador' %}
            {{ user.rol }}
        {% else %}
            <div class="btn-group">
              <button type="button" class="btn btn-light">{{ user.rol }}</button>
              <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin/update_rol/{{ user.username }}/{{ 1 }}">Administrador</a></li>
                <li><a class="dropdown-item" href="/admin/update_rol/{{ user.username }}/{{ 2 }}">Cliente</a></li>
                <li><a class="dropdown-item" href="/admin/update_rol/{{ user.username }}/{{ 3 }}">Aprovador Jefe</a></li>
                <li><a class="dropdown-item" href="/admin/update_rol/{{ user.username }}/{{ 4 }}">Aprovador Financiero 1</a></li>
                <li><a class="dropdown-item" href="/admin/update_rol/{{ user.username }}/{{ 5 }}">Aprovador Financiero 2</a></li>
                <li><a class="dropdown-item" href="/admin/update_rol/{{ user.username }}/{{ 6 }}">Aprovador Financiero 3</a></li>
              </ul>
            </div>
        {% endif %}


    </td>

    <td>{{ user.email }}</td>

    {% if user.status == 'A' %}
        <td>
        <div class="container-fluid d-flex justify-content-between">
            <br>
          <span class="status text-success">&bull;</span> Activo
        </div>
        </td>
    {% endif %}

    {% if user.status == 'I' %}
        <td>
            <div class="container-fluid d-flex">
                <br>
             <span class="status text-warning">&bull;</span>Inactivo
            </div>
        </td>
    {% endif %}

    <td>
        <div class="container-fluid d-flex justify-content-between">
            <button type="button" class="btn btn-success"><a href="/admin/update_status/{{ user.username }}/{{ 'A' }}">Activar</a></button>
            <button type="button" class="btn btn-warning"><a href="/admin/update_status/{{ user.username }}/{{ 'I' }}">Inactivar</a></button>
        </div>

    </td>
  </tr>
{% endmacro %}



<!-- Macro to display a row with the request information in the customer module -->
{% macro render_customer_request(request) %}
    <tr>
      <th scope="row">{{ request.info["id"] }}</th>
      <td>{{ request.info["product"] }}</td>
      <td>{{ request.info["description"] }}</td>

      <td>{{ request.info["amount"] }}</td>
      <td>{{ request.info["created_at"] }}</td>


      {% if request.info["status"] == 'P' %}
        <td>
          <span class="status text-warning">&bull;</span> Pendiente
        </td>
      {% endif %}

      {% if request.info["status"] == 'A' %}
        <td>
          <span class="status text-success">&bull;</span> Aceptada
        </td>
      {% endif %}

      {% if request.info["status"] == 'D' %}
          <td>
            <span class="status text-danger">&bull;</span> Rechazada
          </td>
      {% endif %}

      <td>
        <button type="button" class="btn btn-info" style="color: white" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ request.info["id"] }}">
          Ver Historial
        </button>

            <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{ request.info["id"] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="color: black">
          <div class="modal-dialog" style="width:700px;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Información de la solicitud ID: {{ request.info["id"] }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
              </div>
              <div class="modal-body d-flex justify-content-between">

                <div class="card" style="width: 100%">
                  <div class="card-header">
                      Primera Aprovación
                  </div>
                  {% if request.first_approval %}
                      {% set first_approval =  request.first_approval %}
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aprovador: {{ first_approval["approver"] }}</li>
                        <li class="list-group-item">Acción:
                            {% if first_approval["action"] == 'A' %}
                                Aprovada
                            {% endif %}
                            {% if first_approval["action"] == 'D' %}
                                Rechazada
                            {% endif %}
                        </li>
                        <li class="list-group-item">{{ first_approval["date"] }}</li>
                      </ul>
                  {% else %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aprovador:</li>
                        <li class="list-group-item">Acción:</li>
                        <li class="list-group-item">Fecha:</li>
                    </ul>
                  {% endif %}

                </div>
                <div class="card" style="width: 100%">

                  <div class="card-header">
                    Segunda Aprovación
                  </div>
                {% if request.second_approval %}
                    {% set second_approval =  request.second_approval %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aprovador: {{ second_approval["approver"] }}</li>
                        <li class="list-group-item">Acción:
                            {% if second_approval["action"] == 'A' %}
                                Aprovada
                            {% endif %}
                            {% if second_approval["action"] == 'D' %}
                                Rechazada
                            {% endif %}
                        </li>
                        <li class="list-group-item">{{ second_approval["date"] }}</li>
                    </ul>

                {% else %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aprovador:</li>
                        <li class="list-group-item">Acción:</li>
                        <li class="list-group-item">Fecha:</li>
                    </ul>
                {% endif %}

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
{% endmacro %}


<!-- Macro to display a row with the request information in the approvers module -->
{% macro render_request(request) %}
    <tr>
      <th scope="row">{{ request["id"] }}</th>
      <td>{{ request["product"] }}</td>
      <td>{{ request["description"] }}</td>

      <td>{{ request["amount"] }}</td>
      <td>{{ request["customer"] }}</td>
      <td>{{ request["created_at"] }}</td>

      <td>
        <div class="container-fluid d-flex justify-content-between">
            <button type="button" class="btn btn-success">
                <a href="/approvers/accept/{{ request.id }}">Aceptar</a>
            </button>
            <button type="button" class="btn btn-danger">
                <a href="/approvers/decline/{{ request.id }}">Rechazar</a>
            </button>

        </div>
      </td>
    </tr>
{% endmacro %}


<!-- Macro to display a row with the request information in the approvers reports module -->
{% macro render_request_report(request) %}
    <tr>
      <th scope="row">{{ request.info["id"] }}</th>
      <td>{{ request.info["product"] }}</td>
      <td>{{ request.info["description"] }}</td>

      <td>{{ request.info["amount"] }}</td>
      <td>{{ request.info["customer"] }}</td>
      <td>{{ request.info["created_at"] }}</td>


      {% if request.info["status"] == 'P' %}
        <td>
          <span class="status text-warning">&bull;</span> Pendiente
        </td>
      {% endif %}

      {% if request.info["status"] == 'A' %}
        <td>
          <span class="status text-success">&bull;</span> Aceptada
        </td>
      {% endif %}

      {% if request.info["status"] == 'D' %}
          <td>
            <span class="status text-danger">&bull;</span> Rechazada
          </td>
      {% endif %}

      <td>
        <button type="button" class="btn btn-info" style="color: white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Ver Historial
        </button>
          <!-- Modal -->
        <div class="modal fade" id="staticBackdrop{{ request["id"] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="color: black">
          <div class="modal-dialog" style="width:700px;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Información de la solicitud ID: {{ request["id"] }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
              </div>
              <div class="modal-body d-flex justify-content-between">

                <div class="card" style="width: 100%">
                  <div class="card-header">
                      Primera Aprovación
                  </div>
                  {% if request.first_approval %}
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aprovador: {{ request.first_approval["approver"] }}</li>
                        <li class="list-group-item">Acción:
                            {% if request.first_approval["action"] == 'A' %}
                                Aprovada
                            {% endif %}
                            {% if request.first_approval["action"] == 'D' %}
                                Rechazada
                            {% endif %}
                        </li>
                        <li class="list-group-item">{{ request.first_approval["date"] }}</li>
                      </ul>
                  {% else %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aprovador:</li>
                        <li class="list-group-item">Acción:</li>
                        <li class="list-group-item">Fecha:</li>
                    </ul>
                  {% endif %}

                </div>
                <div class="card" style="width: 100%">

                  <div class="card-header">
                    Segunda Aprovación
                  </div>
                {% if request.second_approval %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aprovador: {{ request.second_approval["approver"] }}</li>
                        <li class="list-group-item">Acción:
                            {% if request.second_approval["action"] == 'A' %}
                                Aprovada
                            {% endif %}
                            {% if request.second_approval["action"] == 'D' %}
                                Rechazada
                            {% endif %}
                        </li>
                        <li class="list-group-item">{{ request.second_approval["date"] }}</li>
                    </ul>

                {% else %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Aprovador:</li>
                        <li class="list-group-item">Acción:</li>
                        <li class="list-group-item">Fecha:</li>
                    </ul>
                {% endif %}

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
      </td>
    </tr>
{% endmacro %}